body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status , #number_of_objects
{
font-size: 18px;
color: white;
    background-color: rgb(241, 226, 142);
}

canvas {
    box-shadow: 10px 10px 10px whitesmoke;
    border-radius: 10px;
margin-top: 20px;
}
#ob{
    color: white;
    background-color: rgb(241, 226, 142);
}